@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&family=Tilt+Neon&display=swap");

@import url(./modules/variables.css);
@import "./modules/hero.css";
@import url(./modules/header.css);

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-dark-blue-into);
  color: var(--neutral-white);
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  color: inherit;
  text-decoration: none;
}

/* Responsive styles!! */
.wrapper {
  width: min(
    100% - 5rem,
    1440px
  ); /* css function to make the nav width responsive!! */
}
img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
  }
  .header > label {
    display: none;
  }
}
#menu-toogle {
  display: none;
}
#menu-toogle:checked + .navigation {
  display: block;
  position: absolute;
  left: 0;
  top: 80px;
  right: 0;
  background: var(--accent-blue-gradient);
}
#menu-toogle:checked + .navigation .header_nav {
  flex-direction: column;
}

.features {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 5rem;
  border: 1px solid yellow;
  width: min(100% - 3rem, 720px);
  margin: 8rem auto;
  background-color: var(--primary-dark-blue-main);
}
/* 3.07.00 */
@media (min-width: 768px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}

.feature {
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.feature_title {
  font-family: var(--font-primary);
}
.feature_description {
  font-family: var(--font-secondary);
}
.workflow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: min(100% - 3rem, 900px);
  margin: 100px auto;
  gap: 4rem;
  background-color: var(--primary-dark-blue-main);
}
@media (min-width: 768px) {
  .workflow {
    flex-direction: row;
    text-align: center;
  }
}
.workflow > img {
  width: 450px;
}
.workflow > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.workflow_link {
  display: flex;
}

.workflow_link {
  display: flex;
  border-bottom: 1px solid var(--accent-cyan-gradient);
  padding-bottom: 5px;
  margin-top: 15px;
  /* margin-right: auto; */
  width: fit-content;
  font-family: var(--font-secondary);
  color: var(--accent-cyan-gradient);
  gap: 0.5rem;
}
.workflow_title {
  font-family: var(--font-primary);
  line-height: 1.5;
  font-size: 2.5rem;
}
.workflow_description {
  font-family: var(--font-secondary);
}
/* 2.57.00 */

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(100% - 3rem, 1200px);
  margin: 100px auto;
  background-color: var(--primary-dark-blue-main);
  gap: 3rem;
  margin-bottom: 15rem;
}
@media (min-width: 768px) {
  .testimonials {
    flex-direction: row;
  }
}
.testimonial {
  background-color: var(--primary-dark-blue-testimonials);
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: var(--font-secondary);
  position: relative;
}
.testimonial--quote::after {
  content: "";
  width: 50px;
  height: 50px;
  z-index: -10;
  background-image: url(./images/bg-quotes.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -30px;
  left: -5px;
}
.testimonial div {
  display: flex;
  align-items: center;
}
.testimonial img {
  border-radius: 100px;
  height: 50px;
}
.testimonial > div > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 20px;
}
.testimonial h5 {
  font-weight: var(--font-weight-regular);
}
.footer {
  font-family: var(--font-secondary);
  background-color: var(--primary-dark-blue-footer);
  padding: 8rem 0;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.access {
  /* border: 1px solid red; */
  width: min(100% - 3rem, 50rem);
  position: absolute;
  top: -210px;
  font-family: var(--font-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  background-color: var(--primary-dark-blue-testimonials);
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0px 10px 15px -30px rgba(0, 0, 0, 0.6);
  text-align: center;
}
.access input[type="text"] {
  border-radius: 1.5rem;
  border: 0px;
  padding: 1rem 2rem;
  min-width: 100%;
}
.access input[type="submit"] {
  border-radius: 1.5rem;
  border: 0px;
  padding: 1rem 2rem;
  min-width: 15rem;
  line-height: 1.5;
  font-family: var(--font-secondary);
  color: var(--neutral-white);
  background: linear-gradient(
    90deg,
    var(--accent-cyan-gradient) 0%,
    var(--accent-blue-gradient) 35%
  );
}
.access form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .access form {
    flex-direction: row;
  }
}

/* 2.23.21 */
.foot_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin: 0 auto;
  width: min(100% - 3rem, 76rem);
  padding-top: 5rem;
}
.footer_info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
}
@media (min-width: 768px) {
  .foot_container {
    padding-top: 0;
  }
  .footer_info {
    display: grid;
    grid-template-columns: 2fr 1fr 0.5fr 0.5fr 1fr;
  }
}
.foot_info_description {
  display: flex;
  align-items: start;
  gap: 1.5rem;
}
.footer_info_contact {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer_info_contact span {
  display: flex;
  gap: 1.5rem;
}
.footer_info_links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer_info_socials {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}
.footer_info_socials a {
  border: 1px solid var(--neutral-white);
  border-radius: 50%;
  height: 30px;
  display: flex;
  padding: 3px;
  cursor: pointer;
}
.footer_info_socials a:hover path {
  border: 1px solid var(--accent-blue-gradient);
  fill: var(--accent-blue-gradient);
}
