@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&family=Tilt+Neon&display=swap");

:root {
  /* Fonts */
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --font-size: 14px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Colors */

  --primary-dark-blue-into: hsl(217, 28%, 15%);
  --primary-dark-blue-main: hsl(218, 28%, 13%);
  --primary-dark-blue-footer: hsl(216, 53%, 9%);
  --primary-dark-blue-testimonials: hsl(219, 30%, 18%);

  --accent-cyan-gradient: hsl(176, 68%, 64%);
  --accent-blue-gradient: hsl(198, 60%, 50%);
  --accent-light-red: hsl(0, 100%, 63%);
  --neutral-white: hsl(0, 0%, 100%);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-dark-blue-into);
  color: var(--neutral-white);
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  align-items: center;
}
a {
  color: inherit;
  text-decoration: none;
}

/* Responsive styles!! */
.wrapper {
  width: min(
    100% - 5rem,
    1440px
  ); /* css function to make the nav width responsive!! */
}
img {
  max-width: 100%;
  height: auto;
}

.header {
  font-family: var(--font-primary);
  border: 1px solid red;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.header_nav {
  list-style: none;
  border: 1px solid red;

  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 2rem; /* 1rem = 16px*/
}

.hero {
  border: 1px solid red;
  display: flex; /*flex by default makes eveything iccupies the 100% of the vp width, so we need to set the align items to set the original size*/
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  width: min(100% - 3rem, 720px);
  /* if I wish to use this command and center it to the screen, i need to use margin and auto margins for left and right */
  margin: 0 auto;
  background: var(--primary-dark-blue-into) url(./images/bg-curvy-desktop.svg)
    no-repeat bottom;
  background-size: contain;
  padding-top: 3rem;
  margin-top: 3rem;
}

.hero_title {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: left;
  width: min(100% - 3rem, 720px);
}

.hero_text {
  font-family: var(--font-secondary);
  padding: 0 7rem;
  line-height: 1.5;
  text-align: justify;
  width: min(100% - 3rem, 720px);
}
.hero_button {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  padding: 1rem 1.5rem;
  line-height: 1.5;
  border: none;
  border-radius: 7rem;
  min-width: 220px;
  color: var(--neutral-white);
  background: linear-gradient(
    90deg,
    var(--accent-cyan-gradient) 0%,
    var(--accent-blue-gradient) 35%
  );
}
.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 5rem;
  border: 1px solid yellow;
  width: min(100% - 3rem, 720px);
  margin: 8rem auto;
  background-color: var(--primary-dark-blue-main);
}
.feature {
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.feature_title {
  font-family: var(--font-primary);
}
.feature_description {
  font-family: var(--font-secondary);
}
.workflow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(100% - 3rem, 900px);
  margin: 100px auto;
  gap: 4rem;
  background-color: var(--primary-dark-blue-main);
}
.workflow > img {
  width: 450px;
}
.workflow > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.workflow_link {
  display: flex;
}

.workflow_link {
  display: flex;
  border-bottom: 1px solid var(--accent-cyan-gradient);
  padding-bottom: 5px;
  margin-top: 15px;
  /* margin-right: auto; */
  width: fit-content;
  font-family: var(--font-secondary);
  color: var(--accent-cyan-gradient);
  gap: 0.5rem;
}
.workflow_title {
  font-family: var(--font-primary);
  line-height: 1.5;
  font-size: 2.5rem;
}
.workflow_description {
  font-family: var(--font-secondary);
}
/* 2.57.00 */

.testimonials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: min(100% - 3rem, 1200px);
  margin: 100px auto;
  background-color: var(--primary-dark-blue-main);
  gap: 3rem;
}
.testimonial {
  background-color: var(--primary-dark-blue-testimonials);
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: var(--font-secondary);
  position: relative;
}
.testimonial--quote::after {
  content: "";
  width: 50px;
  height: 50px;
  z-index: -10;
  background-image: url(./images/bg-quotes.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -30px;
  left: -5px;
}
.testimonial div {
  display: flex;
  align-items: center;
}
.testimonial img {
  border-radius: 100px;
  height: 50px;
}
.testimonial > div > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 20px;
}
.testimonial h5 {
  font-weight: var(--font-weight-regular);
}
